extends ../layouts/main

block content
  h1 View Stock
  if stocks.length
    table
      thead
        tr
          th Type
          th Breed
          th Quantity
          th Added By
          th Created At
      tbody
        each stock in stocks
          tr
            td= stock.type
            td= stock.breed
            td= stock.quantity
            td= stock.addedBy ? stock.addedBy.name : 'Unknown'
            td= stock.createdAt.toLocaleDateString()
  else
    p No stock found.
  p
    a(href='/manager/stock', class='button') Add Stock
    a(href='/manager/dashboard', class='button') Back to Dashboard